.card{
    background-color: antiquewhite;
    max-width: 400px;
    max-height: 600px;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 25px;

}
.card h1{
    margin-bottom: 10px;
    font-family: cursive;
}
.card p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    line-height: 20px;
}