.ProjectHead{
display: flex;
justify-content: center;
font-family: "Helvetica", cursive;
margin-top: 25px;
height: 100vh;




}
.proj1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: steelblue;
    /* color: green; */
    font-family: Times cursive;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 1px lightblue ;  
    max-height: 100px;
    margin-top: 25px;
} 
.proj1 a{
     text-decoration: none;
     color: rgb(230, 237, 230);
  
}
.proj1 i{
    margin-right: 12px;
    font-size: 40px;
}
 a{
    font-size: 35px;
}
