.ProjectHead{
display: flex;
justify-content: center;
font-family: "Helvetica", cursive;
margin-top: 25px;


}
.proj1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    background-color: pink;
    color: black;
    font-family: Times cursive;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 0px 45px 3px lightblue ;  
}
.proj1 a{
     text-decoration: none;
     color: black;
}
.proj1 i{
    margin-right: 12px;
    font-size: 35px;
}
 a{
    font-size: 35px;
}