:root{
    --lightpurple : rgb(248, 193, 248);
    --image: url('src/assets/footerimg.png')
}
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #333;

}
.navbar{
    /* display: grid;
    grid-template-columns:repeat(1,1fr) ; */
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    backdrop-filter: blur(50px);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    
    color: #fff;
    box-shadow: 0px 0px 7px 1px rgb(218, 212, 212);
    padding: 10px;
    animation-name: dropdown ;
    animation-duration: 5.1s;
    animation-timing-function: ease-in-out;
    
}
@keyframes dropdown {
    0%{
        transform: translateY(-100px);
        border-bottom-color: aquamarine;
        
    }
    /* 90%{
        border-bottom: 1px solid aquamarine;
    } */
}
.Links{
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    padding: 0 50px;
    font-family: sans-serif;
    
}
@media screen and (max-width: 768px) {
body{
   background-image: linear-gradient( 180deg, lightgreen , rgb(248, 193, 248));
}
  .navbar {
    position: static;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient( 180deg, lightgreen , rgb(248, 193, 248));
    color: black;
    /* align-items: center; */
    padding: 0px;
/*     
    margin: 10px 20px; */
  }
  .navbar h3{
    font-size: 45px;
    color: black;
  }

  .logo {
    margin-bottom: 10px;
    /* border-bottom: 1px solid white; */
    /* flex-grow: 1; */
  }
  .logo h3 span{
     color: red;
  }
  
  .Links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 10px;
  }

.Links a{
    text-shadow: 1px 1px 1px var(--lightpurple);
    /* color: black; */
    margin: 2px;
    font-size:100px;
    border-bottom: 1px solid #333;
    /* width: 100%; */
    /* padding: 10px 0; */
    border-bottom: 1px solid #ccc;
    padding: 0;
  }
  .title h1{
    color: black;
  }
  .title h3 {
    color: black;

  }
  .title h3 span{
    color: red;
  }
  .title p{
    background-color: red;
    color: blue;
  }
  
  
}
 

 a{
     font-size: 20px;
    padding: 15px 15px;
    text-decoration: none;
     color: var(--lightpurple); 
    font-weight: 500;
    font-family: 'Lucida Sans', cursive;
    border-radius: 15px; 
}
/* .Links>a:active{
    font-size: 20px;
    padding: 15px 15px;
    
    border-radius: 15px;
    background-color: aliceblue;
} */
.active{
    color: black;
    background-color: aquamarine;
    outline-color: aqua;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Lucida Sans', cursive;
    
}
.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid black; */
    font-size: 50px;
    padding: 0 25px;
    margin-left: 25px;
    align-items: center;
    
    
}
.logo span{
    color: aquamarine;
    margin-left: 25px;
}
.logo img{
   background-color: var(--lightpurple);
   margin: 10px;    
   border-radius: 50px;
    /* height: 35px; */
}
.main{
 
   display: flex;
   flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center; 
    /* height: 200px; */
    /* background-image: url(./assets/footerimg.png); */
    padding: 50px 0;
    margin-top: 0.8px;
    border-bottom: 1px solid gray;
    background-image: url(Portfolio/src/assets/footerimg.png);
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    
    
   
}

.Pro-Image{
    display: flex;
    justify-content: center;
    margin: 40px 55px;
    padding: 2px;
    overflow: hidden;
    align-items: flex-start;
    /* text-align: center; */
    /* align-content: start; */
    /* gap: 40px; */
    width: 300px;
    height: 300px;
    /* height: 400px; */
    box-shadow: 0 0 10px 1px aquamarine;
    border-radius: 500px;
    animation: fallin 0.9s ease-in-out;
    animation-delay: 1300ms;
    
   
    
}


.title{
     display: flex;
     flex-direction: column;
     justify-content: start;
     text-align: start;
     /* font-size: 30px; */
     color: #fff;
     /* animation: falldown 0.5s ease-out; */
}
.title span{
    color: aquamarine;
}
.title p{
    color: aquamarine;
    font-size: 25px;
}
.title h3{
font-size: 35px;
margin-bottom: 10px;
}
.Pro-Image img{
    width: 310px;
    /* height: 370px; */
    border-radius: 500px;
    animation: blink;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    

}
@keyframes blink {
0% {
    transform: rotateY(360deg);
}  
}

.title h1{
    line-height: 5rem;
    letter-spacing: 3px;
    font-size: 70px;
    color: let(--lightpurple);
 
}
.title h1 span{
    font-size: 60px;
}
.about{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
    justify-content: space-around;
    padding: 70px 0;
    animation: fade;
    animation-timing-function: ease-in-out;
    animation-duration: 5.1s;
}
@keyframes fade{
    0%{
        opacity: 5%;
    }
    50%{
        opacity: 20%;
    }
    75%{
        opacity: 50%;
    }
     100%{
        opacity: 100%;
    }
   

}
.abt{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
    color: #fff;
    justify-content: start;
    align-items: start;
    text-align: start;
    font-size: 18px;
    line-height: 2rem;
    font-family: sans-serif;
    max-width: 50%;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    
}
.abt h1{
    margin-bottom: 25px;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--lightpurple);
}
.abt h2{
    margin: 30px 0;
    color: var(--lightpurple);
    font-family: 'Times New Roman', Times, serif;
}
.abtimg img{
    max-width: 90%;
    border-radius: 25px;
    padding: 10px;
    margin-top: 25px;
}
.abt-left img{
    max-width: 50%;
    border-radius: 25px;
    padding: 10px;
    margin-top: 25px;
}
.abtimg{
    display: flex;
    justify-content: center;
    max-width: 500px;
    max-height: 700px;
    overflow: hidden;
    animation: getin;
    animation-duration: 3s;
    animation-timing-function: ease;

}
@keyframes getin {
    0%{
        transform: translateZ(5deg);
        
    }
    50%{
        transform: rotateZ(-5deg);
    }
    100%{
        transform: rotateX(0)
    }
}
.abt-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    /* border: 1px solid white; */
    width: 50%;
     margin: 25px;
}
.abt-left h1{
    margin-bottom: 25px;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--lightpurple);
    grid-area: span -1 -1;
}
.courses{
    /* color: #fff;
    background-color: #fff; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    /* padding: 25px; */
    /* border: 1px solid white; */
    width: 100%;
  
    
   
}
.Cor-name:hover {
    display: flex;
    content: "html";
    animation: shake;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    /* transform: scale(1.2, 1.2); */
    cursor: pointer;
    background-color: var(--lightpurple);
    color: #333;
}
@keyframes shake {
    0%{
        transform: scale(1.3, 1.3);
        
    }
    25%{
        transform: translateX(-10%) 
    }
    50%{
        transform: translateX(10%) 
    }
    100%{
        transform: translateX(-10%)  ;
    }
}

.Cor-name{
    color: white;
    font-size: 25px;
    transition: transform 1s ease-in-out;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
     align-items: center;
     justify-content: center;
    text-align: center;
    height: 200px;
    width: 200px;
}


    

.Cor-name1{
    color: white;
    font-size: 25px;
    transition: transform 5s ease-out;
}

.Cor-name1:hover {
transform: rotateY(360deg);
}

.about1{
    display: flex;
    flex-wrap: wrap;
    margin-top:  120px;
    
    justify-content: space-around;
}
.react{
    animation: spin;
    animation-duration: 5000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes spin {
    0%{
        transform: rotateZ(-360deg);
    }
}
@media screen and (max-width: 768px) {
    .about{
        color: black !important;
    }
}
.contact{
    color: red;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Portfolio/src/assets/Knight2.jpg);
    background-position-y: bottom;
    background-position-x: right;
    background-size: cover;
    
 
}

form{
    display: flex;
    flex-direction: column;
    border: 0.5px solid #333;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 20px;
    border-radius: 15px;    
    box-shadow: 0 0 20px 0.7px rgb(94, 93, 93);
    /* background-image: url(Portfolio/src/assets/Knight.jpg); */
    backdrop-filter: blur(50px);
    background-position: center;
    background-size: cover;
    animation: bgani;
    animation-duration: 5s;
    
}
@keyframes bgani {
    0%{
        transform: translateX(400px);
        background-position: left;
    }
   
    
}
form input{
    min-width: 400px;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
   font-family: 'Lucida Sans Regular';
   letter-spacing: 1.2px;
}
form input:focus{
   box-shadow: 1px 0px 0px 1px  navajowhite;
    background-color: rgb(218, 247, 237);
}
textarea{
    height: 200px;
    min-width: 400px;
    margin: 10px 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Lucida Sans Regular';
}
form button{
    padding: 7px 13px;
    background-color: aquamarine;
    border: none;
    outline: none;
    border-radius: 6px;
    margin: 10px 2px;
    font-size: 15px;
    font-family: cursive;

}
.C-title{
    color: whitesmoke;
    margin: 15px;
    text-shadow: 0px 2px 10px #000;
    font-family: 'Lucida Sans Regular';
}
form button:focus{
    background-color: red;
    color: aliceblue;
    
}
